@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

.{
	box-sizing: border-box;
}

body{
	font-size: 20px;
	margin: 0px;
    font-family: "Alegreya Sans", sans-serif;
    letter-spacing: 0.05em;
    animation: colorTransition 7s infinite;
}

@keyframes colorTransition {
  0% { background-color: #20374f; }
  50% { background-color: #37444a; }
  100% { background-color: #20374f; }
}

h1 {
  font-weight: 700;
  font-size: 3.3em;
  color: #AEE4ED;
  font-family: "Audiowide", sans-serif;
}

h2{
    font-family: "Audiowide", sans-serif;
}


.navigation{
    padding-top: 0.5em;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    animation: colorTransition 7s infinite;
}

.navLinks{
    display: flex;
    padding: 0.36em;
    width: 100%;
    justify-content: space-around;
}

.navlink{
    font-size: 1.1em;
    border: 1px solid #66b9a9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(102, 185, 169, 0.5);
}

.navlink a{
    color: #66b9a9;
    text-decoration: none;
}

.mainContainer{
    padding-top:5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topicContainer{
    background-image: url('img/topicBg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.topic .text-wrapper {
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
}

.topic{ 
  top: 0; 
  left: 0;
  margin: 3em;
}

.topic .letter {
  display: inline-block;
  line-height: 1em;
}

#intro{
    display: flex;
    width: 70%;
    color: #AEE4ED;
    font-size: 1.1em;
    text-align: center;
}

.highlight{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #633A34;
    font-style: italic;
}

.useCaseContainer{
    width: 90%;
    margin: 0.5em;
    padding: 1em;
}

.useCaseContainer p, .useCaseContainer ul{
    font-size: 1.1em;
}

.useCaseContainer h3{
    font-size: 1.2em;
    font-style: italic;
}

.useCaseContainer a:active{
    color: white;
    font-weight: bold;
}

.chatBotImgContainer, .imgGenerationImgContainer, .videoGenerationVideoContainer{
    display: flex;
    width: 100%;
}


#chatBotImg, #imgGenerationImage, #videoGenerationVideo{
    width: 50%;
}

.useCase1, .useCase4{
    border: 2px dashed #AEE4ED;
}

.useCase1 p, .useCase1 ul, .useCase1 h3, .useCase1 a, .useCase1 h2{
    color: #ddddca;
}

.useCase2{
    border: 2px dashed #5A79C8;
}

.useCase2 p, .useCase2 ul, .useCase2 h3, .useCase2 a, .useCase2 h2{
    color: #e5ceca;
}

.useCase3{
    border: 2px dashed #44BBA4;
}

.useCase3 p, .useCase3 ul, .useCase3 h3, .useCase3 a, .useCase3 h2{
    color: #e1d0ad;
}

.useCase4 p, .useCase4 ul, .useCase4 h3, .useCase4 a, .useCase4 h2{
    color: #ddddca;
}

.newsImageContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsImageContainer img{
    width: 100%;
}

#socialImg1{
    transform: rotate(4deg);
}

#socialImg2{
    transform: rotate(-5deg);
}

#socialImg3{
    transform: rotate(7deg);
}

.socialMediaTextContainer{
    margin-top: 2em;
    width: 100%;
}

.socialMediaText {
    text-align: center;
}

.socialMediaText .word {
  display: inline-block;
  line-height: 1em;
  color: #AEE4ED;
}

.socialTop{
    display: flex;
    align-items: center;
    width: 95%;
}

#insAccGrid {
    margin-top: 3em;
    width: 90%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    font-size: 1.2em;
}

.contentItem {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    color: #4d0505;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.profileImageContainer{
    margin-top: 0.8em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileImage{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.contentItem a{
    margin-top: 1em;
    font-size: 1.2em;
    color: #CBD0CC;
    text-decoration: underline;
}

.contentItem a:active{
    color: white;
    font-weight: bold;
}

.impactContainer{
    color: #ddddca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    height: 70VH;
    font-style: italic;
}

.impactContainer h2{
    font-family: "Alegreya Sans", sans-serif;
}


@media only screen and (max-width: 640px) {
    body{
        font-size: 12px;
    }

    .socialTop{
        display: flex;
        align-items: center;
        width: 95%;
        flex-direction: column;
    }

    .newsImageContainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsImageContainer img{
        width: 100%;
    }

    #insAccGrid {
        margin-top: 2em;
        width: 80%;
        grid-template-columns: 1fr;
    }

    .profileImageContainer{
        width: 80%;
    }
}
